#collapsable-nav a {
	background-color: yellow;
}
#nav-list {
	text-align: center;
}
.container {
	margin-left: 0px;	
	padding-left: 0px;
	border-left: 0px;
}
.navbar-header {
	height: 80px;
}
.navbar-brand {	
}
.my-section {
	height: 2400px;
	padding: 10px;
	background-color: green;
}

p.passage-style {
    background-color: rgb(255,170,255);
}

